USE [master]
GO
/****** Object:  Database [PBL3]    Script Date: 3/6/2023 12:32:29 AM ******/
CREATE DATABASE [PBL3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\PBL3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\PBL3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/6/2023 12:32:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[MaGV] [nvarchar](10) NOT NULL,
	[Class] [int] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 3/6/2023 12:32:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGV] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[Age] [int] NULL,
	[Description1] [text] NULL,
	[Description2] [text] NULL,
	[Description3] [text] NULL,
	[Price] [int] NULL,
	[Phone] [char](15) NULL,
	[ImagesMain] [nvarchar](100) NULL,
	[Images1] [nvarchar](100) NULL,
	[Images2] [nvarchar](100) NULL,
	[Status] [nchar](15) NULL,
	[Views] [int] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[GIANGVIEN] ([MaGV], [Name], [Address], [Age], [Description1], [Description2], [Description3], [Price], [Phone], [ImagesMain], [Images1], [Images2], [Status], [Views]) VALUES (N'01', N'Bùi Duy Hoàng', N'Đà Nẵng', 20, N'sinh viên nam 2', N'tru?ng d?i h?c bách khoa', N'thành ph? dà n?ng', 196, N'0357757617     ', N'1.png', NULL, NULL, N'0              ', 0)
INSERT [dbo].[GIANGVIEN] ([MaGV], [Name], [Address], [Age], [Description1], [Description2], [Description3], [Price], [Phone], [ImagesMain], [Images1], [Images2], [Status], [Views]) VALUES (N'02', N'Hoàng Gia Tín', N'Đà Nẵng', 20, N'sinh viên nam 2', N'truong dai h?c bach khoa', N'thanh pho da nang', 102, N'0123456789     ', N'2.png', NULL, NULL, N'0              ', 0)
INSERT [dbo].[GIANGVIEN] ([MaGV], [Name], [Address], [Age], [Description1], [Description2], [Description3], [Price], [Phone], [ImagesMain], [Images1], [Images2], [Status], [Views]) VALUES (N'03', N'Trịnh Thái Quân ', N'Đà Nẵng', 20, N'Sinh viên nam 2', N'tru?ng d?i h?c bách khoa dà n?ng ', N'thành ph? dà n?ng ', 135, N'0245681235     ', N'3.png', NULL, NULL, N'0              ', 0)
GO
USE [master]
GO
